@inject UserManager<Models.AppUser> UserManager
@{
    ViewData["Title"] = "Main dashboard";
    var currentUser = await UserManager.GetUserAsync(Context.User);
    var isAdmin = await UserManager.IsInRoleAsync(currentUser, "Admin");
}
@using Common;
@model ViewModels.MainViewModel

<div class="flex items-center">
    <div class="bg-white py-4 rounded w-full">
        <div class="flex justify-between my-2">
            <h2 class="text-xl">
                Current month
            </h2>
            @if (isAdmin)
            {
                <div class="shadow border rounded-lg">
                    <div class="flex items-center px-4 py-2">
                        <div class="flex-1">
                            <p class="text-gray-500 font-semibold">Total Income</p>
                            <div class="flex items-baseline space-x-4">
                                <h2 class="text-2xl font-semibold">
                                    @Math.Round(Model.TotalAmount, 2) &euro;
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>

        <div class="md:grid md:grid-cols-3 md:gap-4 space-y-4 md:space-y-0 mt-4">
            <div class="shadow border rounded-lg">
                <div class="flex items-center space-x-4 p-4">
                    <div class="flex items-center p-3 bg-blue-500 text-white rounded-lg">
                        <i class="fas fa-calendar-check fa-2x"></i>
                    </div>
                    <div class="flex-1">
                        <p class="text-gray-500 font-semibold">Finished rentals</p>
                        <div class="flex items-baseline space-x-4">
                            <h2 class="text-2xl font-semibold">
                                @Model.FinishedRentalsCount
                            </h2>
                        </div>
                    </div>
                </div>
                <a href="/Reservation/Index?finished=true"
                    class="block p-3 text-lg font-semibold bg-blue-50 text-blue-800 hover:bg-blue-100 cursor-pointer">
                    View all
                </a>
            </div>
            <div class="shadow border rounded-lg">
                <div class="flex items-center space-x-4 p-4">
                    <div class="flex items-center p-3 bg-blue-500 text-white rounded-lg">
                        <i class="fas fa-calendar-day fa-2x"></i>
                    </div>
                    <div class="flex-1">
                        <p class="text-gray-500 font-semibold">Ongoing rentals</p>
                        <div class="flex items-baseline space-x-4">
                            <h2 class="text-2xl font-semibold">
                                @Model.OnGoingRentalsCount
                            </h2>
                        </div>
                    </div>
                </div>
                <a href="/Reservation/Index?ongoing=true"
                    class="block p-3 text-lg font-semibold bg-blue-50 text-blue-800 hover:bg-blue-100 cursor-pointer">
                    View all
                </a>
            </div>
            <div class="shadow border rounded-lg">
                <div class="flex items-center space-x-4 p-4">
                    <div class="flex items-center p-3 bg-blue-500 text-white rounded-lg">
                        <i class="fas fa-calendar-alt fa-2x"></i>
                    </div>
                    <div class="flex-1">
                        <p class="text-gray-500 font-semibold">Upcoming rentals</p>
                        <div class="flex items-baseline space-x-4">
                            <h2 class="text-2xl font-semibold">
                                @Model.UpcomingRentalsCount
                            </h2>
                        </div>
                    </div>
                </div>
                <a href="/Reservation/Index?upcoming=true"
                    class="block p-3 text-lg font-semibold bg-blue-50 text-blue-800 hover:bg-blue-100 cursor-pointer">
                    View all
                </a>
            </div>
        </div>
    </div>
</div>
<h2 class="text-xl my-3">
    Search Vehicles
</h2>
<form method="get" asp-action="Main" asp-controller="Home">
    <div class="overflow-hidden sm:rounded-md">
        <div class="py-2 bg-white">
            <div class="grid grid-cols-6 gap-6">
                <div class="col-span-6 sm:col-span-6 lg:col-span-1">
                    <label for="mark" class="block text-sm font-medium text-gray-700">Mark</label>
                    <input type="text" id="mark" asp-for="Filters.Mark"
                        class="mt-1 py-2.5 px-4 focus:ring-indigo-500 border focus:border-indigo-500 block w-full shadow-md sm:text-sm border-gray-700 ring-red-600 rounded-md">
                </div>
                <div class="col-span-6 sm:col-span-6 lg:col-span-1">
                    <label for="seats" class="block text-sm font-medium text-gray-700">Seats</label>
                    <input type="number" id="seats" min="0" max="6" asp-for="Filters.Seats"
                        class="mt-1 py-2.5 px-4 focus:ring-indigo-500 border focus:border-indigo-500 block w-full shadow-md sm:text-sm border-gray-700 ring-red-600 rounded-md">
                </div>
                <div class="col-span-6 sm:col-span-6 lg:col-span-1">
                    <label for="transmission" class="block text-sm font-medium text-gray-700">Transmission
                        type</label>
                    <select id="transmission" asp-for="Filters.Transmission"
                        class="mt-1 py-2.5 px-4 block w-full py-2 px-3 border border border-gray-300 bg-white rounded-md shadow-md focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                        asp-items="Html.GetEnumSelectList<VehicleTransmission>()">
                        <option selected="selected" value="-1">All</option>
                    </select>
                </div>
                <div class="col-span-6 sm:col-span-6 lg:col-span-1">
                    <label for="priceFrom" class="block text-sm font-medium text-gray-700">Price From</label>
                    <input type="number" id="priceFrom" min="0" step="0.01" asp-for="Filters.PriceFrom"
                        class="mt-1 py-2.5 px-4 focus:ring-indigo-500 border focus:border-indigo-500 block w-full shadow-md sm:text-sm border-gray-700 ring-red-600 rounded-md">
                </div>
                <div class="col-span-6 sm:col-span-6 lg:col-span-1">
                    <label for="priceTo" class="block text-sm font-medium text-gray-700">Price To</label>
                    <input type="number" id="priceTo" min="0" step="0.01" asp-for="Filters.PriceTo"
                        class="mt-1 py-2.5 px-4 focus:ring-indigo-500 border focus:border-indigo-500 block w-full shadow-md sm:text-sm border-gray-700 ring-red-600 rounded-md">
                </div>
                <div class="col-span-6 sm:col-span-6 lg:col-span-1">
                    <label for="priceTo" class="block text-sm font-medium text-gray-700">&nbsp;</label>
                    <button type="submit"
                        class="inline-flex justify-center py-2.5 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                        Search
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="flex flex-col my-4">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
            <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                <table class="min-w-full divide-y divide-gray-200">
                    <thead class="bg-gray-50">
                        <tr>
                            <th scope="col"
                                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Mark
                            </th>
                            <th scope="col"
                                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Name
                            </th>
                            <th scope="col"
                                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Seats
                            </th>
                            <th scope="col"
                                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Horse Power
                            </th>
                            <th scope="col"
                                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Price
                            </th>
                            <th scope="col"
                                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody class="bg-white divide-y divide-gray-200">
                        @foreach (var vehicle in Model.Vehicles)
                        {
                            <tr>
                                <td class="px-6 py-4 whitespace-nowrap">
                                    <div class="flex items-center">
                                        <div class="flex-shrink-0 h-12 w-12">
                                            <img class="h-12 w-12 rounded-full" src="@vehicle.Image"
                                            alt="@vehicle.Name @vehicle.Mark">
                                        </div>
                                        <div class="ml-4">
                                            <div class="text-sm font-medium text-gray-900">
                                                <a href="/Vehicle/Details/@vehicle.Id"
                                                class="text-gray-900">@vehicle.Mark</a>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap">
                                    <div class="text-sm text-gray-900">@vehicle.Name</div>
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap">
                                    <div class="text-sm text-gray-900">@vehicle.Seats seats</div>
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                    @vehicle.HorsePower hp
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                    @vehicle.Price &euro;
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                                    <form asp-action="Create" asp-controller="Reservation" method="GET">
                                        <input type="hidden" name="VehicleId" value="@vehicle.Id" />
                                        <input type="submit"
                                        class="inline-flex justify-center py-2.5 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"
                                        value="Reserve" />
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>