@inject UserManager<Models.AppUser> UserManager
@{
    ViewData["Title"] = "Reservations";

    var currentUser = await UserManager.GetUserAsync(Context.User);
    var isAdmin = await UserManager.IsInRoleAsync(currentUser, "Admin");
}

<div class="flex justify-between my-6">
    <h1 class="font-bold text-2xl mb-2">Reservations</h1>
    <a href="/Reservation/Create"
        class="bg-white hover:bg-gray-100 text-gray-800 font-semibold py-2 px-4 border border-gray-400 rounded shadow-md hover:cursor">Add
        new reservation</a>
</div>

<div class="flex flex-col">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
            <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                <table class="min-w-full divide-y divide-gray-200">
                    <thead class="bg-gray-50">
                        <tr>
                            <th scope="col"
                                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                #
                            </th>
                            <th scope="col"
                                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Reserved by
                            </th>
                            <th scope="col"
                                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Reserved from
                            </th>
                            <th scope="col"
                                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Reserved to
                            </th>
                            <th scope="col"
                                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Vehicle
                            </th>
                            <th scope="col"
                                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                Total
                            </th>
                            @if (isAdmin)
                            {
                                <th scope="col"
                                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                    Actions
                                </th>
                            }
                        </tr>
                    </thead>
                    <tbody class="bg-white divide-y divide-gray-200">
                        @foreach (var reservation in Model)
                        {
                            <tr>
                                <td class="px-6 py-4 whitespace-nowrap">
                                    <div class="flex items-center">
                                        <div class="ml-4">
                                            <div class="text-sm font-medium text-gray-900">
                                                <a href="/Reservation/Details/@reservation.Id"
                                                class="text-gray-900">#@reservation.Id</a>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap">
                                    <div class="text-sm text-gray-900">@reservation.User.Name</div>
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap">
                                    <div class="text-sm text-gray-900">
                                        @reservation.ReservedFrom.ToLocalTime().ToString("dd/MM/yyyy hh:mm")</div>
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap">
                                    <div class="text-sm text-gray-900">
                                        @reservation.ReservedTo.ToLocalTime().ToString("dd/MM/yyyy hh:mm")</div>
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap">
                                    <div class="text-sm text-gray-900">@reservation.Vehicle.Mark @reservation.Vehicle.Name
                                    </div>
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap">
                                    @{
                                        var total = @reservation.TotalAmount;
                                    }
                                    <div class="text-sm text-gray-900">@total &euro;</div>
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                                    @if (isAdmin)
                                    {
                                        <div class="row">
                                            <a href="/EditReservation/@reservation.Id"
                                        class="text-yellow-400 hover:text-yellow-800 mr-3">Edit</a>

                                            <form asp-controller="Reservation" asp-action="Delete" method="POST">
                                                <input type="hidden" name="reservationId" value="@reservation.Id">
                                                <button type="submit"
                                            class="text-red-600 hover:text-red-900 font-medium">Remove</button>
                                            </form>
                                        </div>
                                    }

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>